.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border: black 2px solid;
  border-radius: 5px;
  padding: 10px;
}
.users-container hr {
  width: 100%;
}
.users-container > section {
  display: flex;
}
.users-container > section.header {
  font-weight: bolder;
}
.users-container > section.row > .button-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.users-container > section > section {
  width: 250px;
}
.users-container > section > section > p {
  margin: 0;
  padding: 0;
}

.user-container {
  display: flex;
  gap: 50px;
}
.user-container > section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
.alert.success {
  background-color: hsla(120deg, 100%, 50%, 0.5);
}
.alert.error {
  background-color: hsla(0deg, 100%, 50%, 0.5);
}
.alert.warning {
  background-color: hsla(39deg, 100%, 50%, 0.5);
}

.cash-register-container {
  display: flex;
  height: 60%;
  gap: 15px;
}
.cash-register-container > .menu-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 60vw;
  height: 100%;
  overflow-y: scroll;
  border: 5px solid blue;
  padding: 15px;
  box-sizing: border-box;
}
.cash-register-container > .menu-container > .category-container > .dishes-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cash-register-container > .menu-container > .category-container > .dishes-container > .dish-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}
.cash-register-container > .menu-container > .category-container > .dishes-container > .dish-container > p:first-child {
  width: 25px;
}
.cash-register-container > .menu-container > .category-container > .dishes-container > .dish-container button {
  height: 20px;
}
.cash-register-container > .order-total-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 40vw;
  height: 100%;
  gap: 15px;
}
.cash-register-container > .order-total-container > section {
  width: 100%;
  border: 5px solid blue;
  box-sizing: border-box;
}
.cash-register-container > .order-total-container > .order-wrapper {
  flex: 1 1 80%;
}
.cash-register-container > .order-total-container > .order-wrapper > .dishes-list .vue-item {
  display: flex;
  gap: 1em;
}
.cash-register-container > .order-total-container > .total-container {
  flex: 1 1 20%;
}
.cash-register-container > .order-total-container > .total-container > section {
  display: flex;
}
.cash-register-container h2 {
  margin-bottom: 0;
  text-align: center;
}
.cash-register-container .dish-menu-text {
  text-align: right;
}

p {
  margin: 0;
  padding: 0;
}
